body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    color: #333;
}

p {
    color: #666;
}

#ip-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#ip-btn:hover {
    background-color: #0056b3;
}

span {
    font-weight: bold;
}

#iframe {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
